<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica']">
    <nav class="w-full fixed flex justify-between px-5 py-3">
        <h3 class="text-xl">Crown Carry</h3>
        <% var logedin=typeof logedin !=="undefined" ? logedin:true %>
            <% if(logedin){ %>

                <div class="flex gap-5">
                    <a href="/shop">Shop</a>
                    <a href="/cart">Cart</a>
                    <a href="/account">My Account</a>
                    
                    <form action="/users/logout" method="POST">
                        <button type="submit" class="text-red-600">Logout</button>
                    </form>

                </div>
                <% } %>
    </nav>